@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif&family=Roboto&display=swap');
/* style for sidebar*/

/* page sidebar */
.page-sidebar {
    position: fixed;
    top: 0px;  
    width: 285px;
    left: -288px;
    overflow: visible;
    font-family: caveat;
    font-size: 1.5rem;
    font-weight: 400;
}

.page-sidebar-title {
    margin-top: 15px;
    margin-left: 20px;
    font-family: caveat;
    font-size: 2rem;
    font-weight: 700;
}

.page-sidebar-section {
    display: flex;
    align-items: center;
}

.page-sidebar-nav {
    margin-left: 70px;
    margin-top: 5px;
}

.page-sidebar-nav a {
    display: block;
    color: black;
    text-decoration: none;
}

.page-sidebar-nav a:hover {
    font-weight:800;
}

.page-sidebar-opening {
    position: absolute;
    top: 120px;
    left: 286px;
    z-index: 1000;
}

/* animation */
@keyframes move-in-right-page {
    0% {
        transform: translateX(0px);
    }

    60%,
    100% {
        transform: translateX(285px);
    }

    80% {
        transform: translateX(275px);
    }
}

.move-in-left-page {
    animation: move-in-right-page 0.7s ease-out reverse forwards;
}

.move-in-right-page {
    animation: move-in-right-page 0.7s ease-out forwards;

}

hr {
    border-color: black;
}