@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif&family=Roboto&display=swap');


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #b0cece;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 0.31);
    border-radius: 10px;
    border: 3px solid #b0cece;
}

body {
    background-color: #b0cece;
}
/* top section */
.top-section {
    height: 150px;
    display: flex;
}

.today-page-title {
    font-family: caveat;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 20px;
}

#settings {
    position: fixed;
    margin-top: 20px;
    margin-left: calc(100vw - 128px);
}

/* middle section */
.today-sidebar {
    position: fixed;
}

.today-quote-container {
    font-family: caveat;
    font-size: 2.2rem;
    font-weight: 500;
    padding-top: 15vh;
    margin-bottom: 80px;
    display: flex;
}

.today-quote {
    justify-content: center;
    margin: auto;
}

.today-quote-description {
    font-family: caveat;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    width: 400px;
    height: 160px;
    border-style: solid;
    border-color: black;
    top: -1000px;
    left: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.today-centered-text {
    text-align: center;
    white-space: normal;
    text-wrap: balance;
}

/* bottom section */
.bottom-section {
    display: flex;
    justify-content: space-evenly;
}


/* work note */

.work-note-header,
.non-work-note-header { 
    height: 90px;
    position: relative;
    padding-bottom: 20px;
    display: flex;
}

.push-button,
.non-work-push-button {
    font-family: caveat;
    font-size: 17px;
    font-weight: 400;
    margin-left: 30px;
    height: 20px;
    text-align: right;
    position: relative;
    top: 60px;
}

.push-button:hover,
.non-work-push-button:hover {
    cursor: pointer;
}

.note-title {
    font-family: caveat;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
    height: 57px;
    position: relative;
    top: 45px;
    margin-left: 127px;
}

.non-work-note-title {
    font-family: caveat;
    font-size: 2rem;
    font-weight: 600;
    text-align: center; 
    height: 57px;
    position: relative;
    top: 45px;
    margin-left: 87px;
}

.work-note-middle,
.non-work-note-middle {
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    height: 460px;
    width: 429px;
}

/* standard for all pages */
.work-note-line,
.non-work-note-line {
    display: flex;
    margin-bottom: 3px;
}

.work-note-bullet-point,
.non-work-note-bullet-point {
    flex: 0 0 auto;
    margin-left: 20px;
    height: 24px;
    width: 24px;
    margin-top: 3px;
}

.work-note-bullet-point:hover,
.non-work-note-bullet-point:hover {
    cursor: pointer;
}

.work-note-content,
.non-work-note-content {
    margin-left: 28px;
    width: 241px;
    font-family: caveat;
    font-weight: 400;
    font-size: 1rem;
}

.work-note-eta,
.non-work-note-eta {
    font-family: caveat;
    font-weight: 400;
    font-size: 1rem;
    width: 47px;
    margin-left: 20px;
}

.work-note-delete,
.non-work-note-delete {
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 2px;
    height: 24px;
}

.work-note-delete:hover,
.non-work-note-delete:hover {
    cursor: pointer;
}

.work-note-content input,
.work-note-eta input,
.non-work-note-content input,
.non-work-note-eta input {
    background-color:#b0cece;
    border: none;
    font-family: caveat;
    font-size: 1rem;
    width: 100%
}

/* bottom section note */
.work-note-bottom,
.non-work-note-bottom {
    height: 50px;
    width: 100%;
    font-family: caveat;
    font-size: 1rem;
}


.work-note-desc-input-container,
.non-work-note-desc-input-container {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 225px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 5px;
    display: inline-block;
}

.work-note-eta-input-container,
.non-work-note-eta-input-container {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    margin-left: 15px;


}

#work-note-eta-input,
#non-work-note-eta-input {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: caveat;
    font-size: 1rem;
}

#work-note-desc-input,
#non-work-note-desc-input {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: caveat;
    font-size: 1rem;
}

#submit-work-form-button,
#submit-non-work-form-button {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 75px;
    height: 35px;
    margin-left: 20px;
    display:inline-block;
    margin-left: 20px;
    padding-left: 10px;
    font-family: caveat;
}

#submit-work-form-button:hover,
#submit-non-work-form-button:hover {
    cursor: pointer;
} 



/* animation for quotes 201 150 */
@keyframes move-in {
    0% {
        top: -1000px;
    }

    60%,
    100% {
        top: 120px;
    }

    80% {
        top: 140px;
    }
}

.move-in {
    animation: move-in 0.7s ease-out forwards;
}

.move-out {
    animation: move-in 0.7s ease-out reverse forwards;
}
