@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif&family=Roboto&display=swap');


*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #b0cece;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(122, 122, 122, 0.31);
    border-radius: 10px;
    border: 3px solid #b0cece;
}

body {
    background-color: #b0cece;
}
/* top section */
.top-section {
    height: 150px;
    display: flex;
}

.today-page-title {
    font-family: caveat;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 20px;
}

#settings {
    position: fixed;
    margin-top: 20px;
    margin-left: calc(100vw - 128px);
}

/* middle section */
.today-sidebar {
    position: fixed;
}

.today-quote {
    font-family: caveat;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    padding-top: 15vh;
    margin-bottom: 80px;
}

/* bottom section */
.bottom-section {
    display: flex;
    justify-content: space-evenly;
}


/* work note */

.note-header{ 
    height: 90px;
    display: relative;
    padding-bottom: 20px;
}

.edit-button {
    font-family: caveat;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: 20px;
    top: 60px;
}

.note-title {
    font-family: caveat;
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40px;
}

.work-note-middle,
.non-work-note-middle {
    overflow-x: hidden;
    overflow-y: overlay;
    scroll-behavior: smooth;
    height: 460px;
    width: 429px;
}

.note-line {
    display: flex;
    margin-bottom: 3px;
}

.note-bullet-point {
    flex: 0 0 auto;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    margin-top: 3px;
}

.note-content {
    margin-left: 28px;
    width: 241px;
    font-family: caveat;
    font-weight: 400;
    font-size: 1rem;
}

.note-timer {
    font-family: caveat;
    font-weight: 400;
    font-size: 1rem;
    width: 47px;
    overflow: visible;
}

.note-mover {
    margin-left: 18px;
    margin-right: 20px;
}

/* bottom section note */
.work-note-bottom,
.non-work-note-bottom {
    height: 50px;
    width: 100%;
    font-family: caveat;
    font-size: 1rem;
}


.work-note-desc-input-container,
.non-work-note-desc-input-container {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 225px;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 5px;
    display: inline-block;
}

.work-note-eta-input-container,
.non-work-note-eta-input-container {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    margin-left: 15px;


}

#work-note-eta-input,
#non-work-note-eta-input {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: caveat;
    font-size: 1rem;
}

#work-note-desc-input,
#non-work-note-desc-input {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    font-family: caveat;
    font-size: 1rem;
}

#submit-work-form-button,
#submit-non-work-form-button {
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    width: 75px;
    height: 35px;
    margin-left: 20px;
    display:inline-block;
    margin-left: 20px;
    padding-left: 10px;
    font-family: caveat;
}